.title {
    -fx-font-size: 20pt;
    -fx-font-family: Roboto;
    -fx-font-weight: bolder;
}

.button {
    -fx-background-color: darkorange;
}

.button:hover{
    -fx-background-color: orangered;
    -fx-cursor: hand;
}