.title {
    -fx-font-size: 15pt;
    -fx-text-fill: #9F3EDE;
}

.errorText {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(255, 0, 0, 0.5);
    -fx-padding: 10px;
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: #9F3EDE;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #8422c4;
    -fx-border-color: #8422c4
}

.btn-outline {
    -fx-border-width: 1.5;
    -fx-border-color: #9F3EDE;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #9F3EDE;
}

.btn-outline:hover {
    -fx-background-color: #9F3EDE;
    -fx-border-color: #9F3EDE;
    -fx-text-fill: white;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.tab-pane .tab {
    -fx-background-color: rgb(244, 244, 244);
}

.tab .tab-label {
    -fx-font-family: Helvetica;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected{
    -fx-background-color: #8f37c7;
}
.tab-pane .tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-font-family: Helvetica;
    -fx-font-weight: bold;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #9F3EDE;
}

.list-view {
    -fx-selection-bar: #9F3EDE;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

.balance-label {
    -fx-font-size: 12pt;
    -fx-font-weight: bolder;
    -fx-fill: green;
}

.titled-pane > .title {
    -fx-font-size: 10pt;
}

.accordion .titled-pane > *.content{
    -fx-background-color: transparent;
}